.main-menu {
  width: 100%;

  .menu-item {
    flex-grow: 1;
    margin: 10px 0;
    a {
      width: 100%;

      button {
        text-align: center;
        width: 100%;
        font-size: 1.5rem;
      }
    }
  }
}
