button {
  margin: 0 5px;
}

.campaign-title {
  overflow-wrap: break-word;
}

.content {
  text-align: left;
}

.card {
  margin: 5px 0;
}

.map {
  height: 200px;
  margin: 5px 0;
}

.map-view {
  height: 400px;
  margin: 5px 0;
}

.markers-title {
  margin-top: 10px;
}
