.App {
  text-align: center;
  margin: 0 auto;
  background-color: #ececec;
  min-height: 100vh;

  @media screen and (min-width: 700px) {
    max-width: calc(100vh / 2.16666667);
  }

  header {
    margin-bottom: 20px;
    .title {
      padding-top: 1em;
    }
  }
}
